* {
    margin: 0;
    padding: 0;
    font-size: 11px;
    box-sizing: border-box;
    color: rgb(227, 227, 227);
}

body {
    background-color: rgb(16, 5, 30);
    display: flex;
    flex-direction: column;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(142, 113, 75); */
    width: 100%;
    height: 8em;
    background-color: rgba(255, 255, 255, 0.020);
    backdrop-filter: blur(1px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.141);
}

.logo-1 {
    background-image: url('pics/M__2_-removebg-preview.png');
    align-self: center;
    background-size: cover;
    width: 6em;
    height: 6em;
    margin-left: 0.6em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin-right: 5px;
}

.main-body-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: auto;
    /* background-color: blue; */
}

.pic-container {
    background-image: url('pics/me.png');
    background-repeat: repeat;
    background-size: cover;
    width: 75%;
    height: 40%;
    border-radius: 45%;
    margin-bottom: 1em;
}

.marccontent {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1.5em;
    /* background-color: white; */
    width: 90%;
    height: 50%;
}

.main-body-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    justify-content: space-around;
    /* background-color: rgb(30, 30, 120); */
}

.cards {
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    /* background-color: blue; */
    width: 100%;
    height: 20em;
    margin: 0.5em 0;
}

.skills-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: aqua; */
    width: 40%;
    height: 100%;
}

.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aquamarine; */
    width: 35em;
    height: 100%;
}

.htmllogo,
.csslogo,
.jslogo {
    width: 15em;
    height: 15em;
}

.html-content,
.css-content,
.js-content {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    height: 15em;
    width: 100%;
}

.heading-html,
.heading-css,
.heading-js {
    text-align: center;
    /* background-color: brown; */
    height: 35%;
    width: 100%;
}

.desc-html,
.desc-css,
.desc-js {
    /* background-color: cadetblue; */
    height: 100%;
    width: 100%;
}

.desc-html p,
.desc-css p,
.desc-js p {
    text-align: center;
    margin-top: 0;
}

.htmllogo {
    background-image: url('pics/html\ totoo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.csslogo {
    background-image: url('pics/css.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.jslogo {
    background-image: url('pics/js.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.main-body-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 2.5em
        /* background-color: rgb(110, 30, 120); */
}

.proj-container,
.test-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
    background-color: rgba(242, 242, 242, 0.087);
    border-radius: 2.5em;
    width: 96%;
    height: 30em;
    margin: 0.5em 0;
    transition: all 0.4s;
}

.proj-container:hover {
    box-shadow: 0 15px 20px 0px rgba(207, 75, 255, 0.474);
    transform: translateY(-15px);
}

.proj-pic-1,
.proj-pic-2,
.test-pic-1,
.test-pic-2 {
    text-align: center;
    /* background-color: brown; */
    border-radius: 2em;
    height: 90%;
    width: 50%;
    margin-right: 5px;
}

.proj-desc-1,
.proj-desc-2 {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    height: 90%;
    width: 50%;
}

.proj-pic-1 {
    background-image: url('pics/todo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.proj-pic-2 {
    background-image: url('pics/ecomproj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.proj-heading-1,
.proj-heading-2 {
    padding-top: 5%;
    text-align: center;
    /* background-color: rgb(95, 20, 20); */
    height: 30%;
    width: 100%;
    border-top-right-radius: 2.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.141);
}

.proj-heading-1 h2,
.proj-heading-2 h2 {
    font-size: 18px;
}

.proj-description-1,
.proj-description-2 {
    /* background-color: blanchedalmond; */
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 2.5em;
}

.proj-description-1 p,
.proj-description-2 p {
    text-align: center;
    margin: 2px;
}


.main-body-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    /* background-color: rgb(30, 83, 120); */
}

.test-container {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(162, 69, 255, 0.15);
    border-right: 1px solid rgba(190, 48, 255, 0.15);
    margin: 0 0.5em;
    transition: transform 0.2s;
}

.test-container:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px 0px rgba(207, 75, 255, 0.474);
}

.test-pic-1,
.test-pic-2 {
    background-image: url('pics/person.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1em 0.5em 1em 0;
    transition: transform 0.2s;
}

.test-pic-1:hover,
.test-pic-2:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px 0px rgba(207, 75, 255, 0.474);
}

.main-body-5 {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(32, 32, 39); */
}

.sec-containers {
    display: flex;
    flex-direction: column;
    width: auto;
}

h1 {
    align-self: center;
    letter-spacing: 0.1em;
    font-size: 3.1em;
    margin-bottom: 0.4em;
}

h2 {
    align-self: center;
    font-family: 'Electrolize', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.8em;
    margin-bottom: 0.4em;
}

p {
    margin-top: 2.5em;
    font-size: 1.5em;
    font-family: 'Saira Condensed', sans-serif;
    align-self: center;
}

a {
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s;
    margin-right: 5px;
}

a:hover {
    transform: translateY(-3px);
    color: rgb(221, 126, 255);
}

@media (min-width: 495px) {
    .pic-container {
        margin-bottom: 1em;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
    }

    .marccontent {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        /* background-color: white; */
        width: 90%;
        height: 35%;
    }

    .marccontent p {
        text-align: center;
    }

    h1 {
        align-self: center;
        font-size: 3.3em;
    }

    h2 {
        align-self: center;
        font-size: 2.4em;
    }

    p {
        font-size: 1.8em;
    }

    .main-body-2 {
        padding-top: 5em;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: blue; */
        width: 100%;
        height: 20em;
        margin: 0.5em 0;
    }
}

@media (min-width: 1137px) {

    .main-body-1,
    .main-body-2,
    .main-body-3,
    .main-body-4,
    .main-body-5 {
        padding-left: 8%;
    }

    body {
        display: flex;
        flex-direction: row;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 9%;
        height: 100vh;
        position: fixed;
        backdrop-filter: blur(5px);
        border-right: 1px solid rgba(255, 255, 255, 0.141);
    }

    .sec-containers {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-1 {
        margin-top: 2em;
    }

    .main-body-1 {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-right: 7%;
    }

    .marccontent {
        display: flex;
        flex-direction: column;
        /* background-color: white; */
        width: 50%;
        height: 60%;
        flex-shrink: 2;
        margin: 0 3em;
    }

    .pic-container {
        margin-left: 16%;
        width: 35rem;
        height: 35rem;
    }

    h1 {
        margin-top: 5%;
        font-size: 6em;
        align-self: flex-start;
    }

    h2 {
        align-self: flex-start;
        margin-bottom: 0.7em;
    }

    .logo-1 {
        margin: 0 auto;
        margin-top: 3em;
    }

    .marccontent p {
        text-align: start;
    }

    p {
        margin-top: 0.5em;
    }

    a {
        font-size: 1.22em;
        font-weight: 300;
        font-family: 'Electrolize', sans-serif;
    }

    .main-body-2 {
        padding-top: 0;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: blue; */
        width: 100%;
        height: 20em;
        margin: 0.5em 0;
    }

    .proj-container,
    .test-container {
        flex-direction: column;
        width: 30%;
        height: 85%;
        margin: 3em;
        padding: 1em;
    }

    .main-body-3,
    .main-body-4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .proj-pic-1,
    .proj-pic-2,
    .test-pic-1,
    .test-pic-2 {
        text-align: center;
        /* background-color: brown; */
        border-radius: 2em;
        height: 90%;
        width: 90%;
        margin-right: 5px;
    }

    #tc-2,
    #pc-2 {
        margin-left: 7%;
    }
}